In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CleanedSeattleData.csv')
df

,Unnamed: 0,X,Y,ADDRTYPE,SEVERITYCODE,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND
0,0,-122.386772,47.564720,1.0,2.0,1,0,0,0,1,0.0,1,0,5
1,1,-122.341806,47.686934,1.0,2.0,2,0,0,0,1,0.0,6,7,2
2,2,-122.374899,47.668666,0.0,1.0,3,0,0,0,4,0.0,1,0,5
3,3,-122.300758,47.683047,1.0,1.0,2,0,0,0,1,0.0,6,7,2
4,6,-122.323569,47.722577,0.0,1.0,2,0,0,0,4,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169976,221260,-122.335908,47.598750,0.0,1.0,2,0,0,0,3,0.0,4,0,5
169977,221262,-122.314961,47.523468,0.0,2.0,2,0,0,0,4,0.0,1,0,5
169978,221263,-122.334203,47.575576,1.0,1.0,2,0,0,0,1,0.0,1,0,5
169979,221264,-122.310259,47.594214,0.0,1.0,2,0,0,0,2,0.0,1,0,5
169980,221265,-122.342627,47.651619,0.0,2.0,3,0,0,0,4,0.0,1,0,5

In [4]:
df[df['INJURIES'] == 1]

,Unnamed: 0,X,Y,ADDRTYPE,SEVERITYCODE,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND
27,29,-122.347323,47.653450,0.0,3.0,1,1,0,1,4,0.0,1,0,5
31,35,-122.296188,47.578347,1.0,3.0,2,1,0,1,1,1.0,1,0,5
34,39,-122.337486,47.589746,0.0,3.0,1,1,0,1,4,1.0,6,7,2
115,146,-122.385457,47.561973,0.0,3.0,1,1,0,1,4,0.0,1,0,2
1328,1726,-122.388861,47.668674,0.0,3.0,2,1,0,1,4,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168187,218819,-122.297803,47.719292,1.0,3.0,1,1,2,1,1,0.0,1,0,5
169175,220168,-122.376246,47.557433,1.0,3.0,2,1,0,1,1,0.0,1,0,5
169313,220350,-122.347055,47.642626,0.0,3.0,1,1,2,1,4,0.0,1,0,5
169456,220543,-122.290479,47.683048,1.0,3.0,3,1,0,1,1,0.0,1,0,5
169760,220963,-122.310047,47.733921,1.0,3.0,2,1,0,1,1,0.0,1,0,5